<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>{{Title}}</title>
        <meta name="title" content="{{Title}}">
        <meta name="description" content="{{Desc}}">
        <meta name="keywords" content="{{Keys}}">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link rel="shortcut icon" href="{{Favicon}}"/>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" rel="stylesheet"/>
        <link href="{{CONFIG site}}/public/assets/css/global.css" rel="stylesheet" />
        <script src="{{CONFIG site}}/public/assets/js/jquery.js"></script>
        <script src="{{CONFIG site}}/public/assets/js/masonry.js"></script>
        <style>
            html {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
        {{BeforeHead}}
        <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    </head>
    <body></body>
{{Body}}</body></html>
