<div class="grid-item overflow-hidden">

    <div class="relative" style="height:{{height}}px">
        <a href="/rr">
            <img alt="post" class="bg-white" src="http://lorempixel.com/{{width}}/{{height}}"/>
        </a>
        <div class="absolute top-0 w-full h-full p-3 opacity-0 hover:opacity-100">
            <button class="bg-green-500 text-white px-3 py-1 rounded mr-1 h-auto">
                <i class="fas fa-thumbtack"></i>
                &nbsp;32
            </button>
            <button class="bg-white text-gray-700 px-3 py-1 rounded border">
                <i class="fas fa-heart"></i>
                &nbsp;120
            </button>
            <button class="bg-white text-gray-700 px-3 py-1 rounded border float-right">
                <i class="fas fa-comment"></i>
                &nbsp;29
            </button>

        </div>
        <a href="/rr">
            <div class="absolute bottom-0 bg-black w-full h-6 opacity-50 text-white text-center hover:underline">
                some title here like hello
            </div>
        </a>
    </div>
    <div class="bg-white p-2 text-sm text-center text-green-700">
        <a class="border-solid border border-gray-500 px-1 rounded" href="/rr">love</a>
        <a class="border-solid border border-gray-500 px-1 rounded" href="/rr">love</a>
        <a class="border-solid border border-gray-500 px-1 rounded" href="/rr">love</a>
        <a class="border-solid border border-gray-500 px-1 rounded" href="/rr">love</a>
        <a class="border-solid border border-gray-500 px-1 rounded" href="/rr">love</a>
    </div>

</div>
